#Ignore .env and Virtual environment
.gitignore
.env
.venv
venv/
~$*.docx
lab_solution_files/
lab_starter_files/
lab_my_files/
lab_databases/
Capstone_Database/
Final_Capstone_Project/Capstone_Database/