#Ignore .env and Virtual environment
.gitignore
.env
.venv
venv/
ENV_ANALYSIS/
~$*.docx
lab_solution_files/
lab_starter_files/
lab_my_files/
lab_databases/
Capstone_Database/Capstone_Chroma_DB/
Capstone_Database/Wikipedia/
Capstone_Database/Capstone_Graph_DB/
lab_requirements/
EVALUATION/
chroma_db/
MHERRERA_3_1_Answers.docx
openrouter_apichecker.ps1
Capstone Checkpoint 3 - Sypnosis.docx
__pycache__/
run_framework_validation.py
Backups/
OpenRouter_API_Usage.py
checkpoint_3_1_evaluation.log
Python_File_Header_Template.py
Backup_Qustions/
capstone_checkpoint_4_1_advanced_retrieval_starter.py
checkpoint_3_1_evaluation.log
